<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>

    <link rel="stylesheet" href="stylesheet.css">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/7963/7963920.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">

    <title>Plantify Project</title>
</head>

<body>
    <div id="app">

        <header>
            <img src="Header.jpg" alt="">
            <h1 class="title">{{ projectTitle }}</h1>
            <h2 class="subTitle">{{ subTitle }}</h2>
        </header>

        <main>
            <form class="plant-form" @submit.prevent="fetchJson">
                <input type="text" v-model="plantName" id="plant-display-text" class="plant-input"
                    placeholder="Find your plant" />
                <button type="submit">Search</button>
            </form>

            <div v-if="selectedPlant">
                <!-- Uppdatera för att visa information om den valda växten -->
                <h3>{{ selectedPlant.commonName }}</h3>
                <p>Scientific Name: {{ selectedPlant.scientificName }}</p>
                <p>Watering Schedule: {{ selectedPlant.wateringSchedule }}</p>
                <p>Sunlight Requirement: {{ selectedPlant.sunlightRequirement }}</p>
                <p>Poisonous: {{ selectedPlant.poisonous ? 'Yes' : 'No' }}</p>
            </div>

            <ul class="plant-list">
                <li v-for="plant in jsonData" :key="plant.commonName">
                    <!-- Användaren klickar för att lägga till vald planta i sin lista -->
                    <button @click="selectPlant(plant)">{{ plant.commonName }}</button>
                    <button @click="addPlantToMyPlants">Add to my plants</button>
                </li>
            </ul>

            <!-- <h3>My plants</h3>
            <ul class="my-plants">

            </ul> -->
             <ul>
            <li><label><input type="radio" name="filter" value="all" v-model="filterPlants"> All</label></li>
            <li><label><input type="radio" name="filter" value="Needs water" v-model="filterPlants"> Needs water</label></li>
            <li><label><input type="radio" name="filter" value="Watered" v-model="filterPlants"> Watered</label></li>
            </ul> 
            <!--Antal växter som behöver vatten -->
           
        </main>

    </div>

</body>

</html>