body {
    display: flex;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-weight: 300;
    font-style: normal;
    background-image: url("https://a-static.besthdwallpaper.com/green-leaves-with-black-shadow-wallpaper-1920x1080-78534_48.jpg");
    background-color: rgb(43, 70, 44);
}

#app {
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    background-color: #cccccc;
    border-radius: 20px;
    /* box-shadow: 3px 8px 15px rgb(74, 88, 74); */
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr, 1fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}

img {
    grid-column: 1 / span 3;
    /* Fyller alla kolumner */
    grid-row: 1 / span 3;
    /* Fyller alla rader */
    z-index: 0;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

#app .title {
    grid-column: 1;
    grid-row: 2;
    z-index: 1;
    color: #cccccc;
    font-size: 50px;
    margin: 0;
    letter-spacing: 2px;
}

#app .subTitle {
    grid-column: 1;
    grid-row: 3;
    z-index: 1;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
    color: #cccccc;
    font-weight: 200;
}

/* Input-Form Styling (Placering av inputrutan)*/
.plant-form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
    max-height: 40px;
    min-height: 30px;
    max-width: 530px;
    position: relative;
}

.plant-form input {
    width: 100%;
}

.plant-form button {
    position: absolute;
    background-color: white;
    border: none;
    height: 70%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    aspect-ratio: 1;
    right: 0;
    /* top: 15%; */
    color: #123813;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    outline: none;
}

.plant-form button:hover {
    color: #123813;
    background-color: rgba(173, 198, 173, 0.2);
}

/* Placeholder-Text Styling (Texten som syns innan inmatning) */
#plant-display-text::placeholder {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #123813;
    padding: 5px;
}

/* Input Styling (Texten som syns när användaren matat in något */
input#plant-display-text {
    text-align: center;
    max-height: 40px;
    min-height: 30px;
    max-width: 530px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #008304;
    padding: 5px;
    border-radius: 20px;
    border-style: none;
}

/* @media only screen and (max-width: 1520px) {
    #title {
    #app max width bör öka med 10-20% desto mindre skärmen bli.
    Vid mobile så ska bredden vara 100% så att enbart app-content syns, ej bakgrund på sidorna. 
    - 1920px bred på inkopplad skärm (anpassade storlekar: h1: font-size: 50px; h2: font-size: 20px; och plant-form.
    - 1610px och nedåt skär sig h1
    - 1520px bred på laptop
    }
} */