* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root contains variables with values used frequently in the layout to avoid repetition */
:root {
    --main-bg-color: #cccccc;
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-font-size: 1rem;
    --main-color: #123813;
    --hover-color: rgba(64, 147, 64, 0.419);
    --hover-bg-color: rgba(64, 147, 64, 0.2);
}

/* Body styling */
body {
    display: flex;
    font-family: "DM Serif Text", serif;
    font-weight: 300;
    font-style: normal;
    background-image: url("https://a-static.besthdwallpaper.com/green-leaves-with-black-shadow-wallpaper-1920x1080-78534_48.jpg");
    background-color: rgb(43, 70, 44);
    overflow-x: hidden;
    min-width: 380px;
}

/* App container styling */
#app {
    justify-content: center;
    margin: 0 auto;
    max-width: 60rem;

    background-color: var(--main-bg-color);
    border-radius: 20px;
    list-style-type: none;
}

/* Common styling for plant containers */
#app .plant-container,
.searchAndChoosePlant,
.myPlants-container {
    text-align: center;
    list-style-type: none;
}

.myPlants-container {
    max-width: 30em;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #12381342;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Header styling */
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    position: relative; 
}

.semiCircle {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 30em;
    height: 15em;
    color: #767676;
    background-color: #0c2c0d87;
    border-radius: 30em 30em 0 0;
    z-index: 2;
}

/* Image styling */
img {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    z-index: 0;
    margin: 0 auto;
    max-width: 60rem;
    max-height: auto;
}

/* Title and subtitle styling */
#app .title,
#app .subTitle {
    grid-column: 1;
    z-index: 2;
    color: #ffffff;
    position: relative; /* Lägg till relativ position för att hantera z-index */
}

#app .title {
    grid-row: 2;
    align-content: end;
    font-size: 3rem;
    padding: 2px;
    margin: 0;
    letter-spacing: 2px;
}

#app .subTitle {
    grid-row: 3;
    align-content: end;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 200;
}

/* Input-Form styling */
.plant-form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
    max-height: 4em;
    min-height: 1em;
    max-width: 35rem;
    position: relative;
}

.plant-form input {
    width: 100%;
}

button.submit, button.clearSearch {
    position: absolute;
    background-color: white;
    border: none;
    height: 72%;
    padding: 10px;
    border-radius: 20px;
    aspect-ratio: 1;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    outline: none;
}

button.submit {
    right: 0;
    margin-right: 18px;
}

button.clearSearch {
    left: 0;
    margin-left: 18px;

}

/* MyPlants styling */
.myPlants {
    font-size: 28px;
    margin: 0;
    padding: 0;
    color: var(--main-color);
}

/* Button hover styling */
.plant-form button:hover {
    color: #ffffff;
    background-color: var(--hover-color);
}

/* Placeholder-Text styling */
#plant-display-text::placeholder {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 300;
    color: var(--main-color);
    padding: 5px;
}

/* Input styling */
input#plant-display-text {
    text-align: center;
    max-height: 40px;
    min-height: 30px;
    max-width: 530px;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 300;
    color: #008304;
    padding: 5px;
    border-radius: 20px;
    border-style: none;
}

.plantInformation p {
    margin: 5px;
}

/* List styling */
ul.my-plants,
ul.plant-filters,
ul.plant-list {
    padding: 4px;
    margin: 0 auto;
    max-width: 40em;
    list-style-type: none;
    font-size: var(--main-font-size);
}

.plant-filters {
    display: flex;
    justify-content: center;
}

.my-plantsh3 {
    margin: 0px;
    font-size: 20px;
}

ul.my-plants h3 {
    margin: 6px;
    font-size: 20px;
}

ul.my-plants label {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

/* Plant list styling */
.plant-list {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

li.plant-list {
    margin: 0;
}

.plant-list h3 {
    margin: 3px;
    font-size: 18px;
}

.plant-list button {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    border: none;
    height: 3em;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 12px;
    outline: none;
}

/* Counter styling */
.counters {
    color: #123813;
    display: flex;
    justify-content: center;
}

.counters p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
    font-size: var(--main-font-size);
    margin: 2px;
}

/* Button styling */
.clickToWater button, .remove button,
.information button {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    margin: 2px;
    border: none;
    height: 70%;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 12px;
    outline: none;
}

/* Filter-buttons styling */
input[type=radio] {
    accent-color: rgb(15, 146, 0);
}

/* Button hover styling */
.clickToWater button:hover, .remove button:hover,
.information button:hover {
    color: #ffffff;
    background-color: var(--hover-bg-color);
}

